In [24]:
import numpy as np
import pandas as pd
import random

In [25]:
random.seed(123)

In [26]:
fn_out = "../input/deped_school_location_with_enrolment_2017_2018_consolidated_audit.csv"

In [27]:
fn = "../input/deped_school_location_with_enrolment_2017_2018_consolidated.csv"
df = pd.read_csv(fn)

In [28]:
df.head(2)

,SCHOOL ID,SCHOOL NAME,DIVISION,ADDRESS,DEPED_BARANGAY,DEPED_MUNICIPALITY,DEPED_REGION,DEPED_COORD,DEPED_LONGITUDE,DEPED_LATITUDE,...,LATITUDE,PSGC_BARANGAY,BARANGAY,PSGC_MUNICIPALITY,MUNICIPALITY,PSGC_PROVINCE,PROVINCE,PSGC_REGION,REGION,DELTA_KM
0,100160,ADAMS CES,ILOCOS NORTE,"POB. 1, ADAMS, ILOCOS NORTE",ADAMS (POB.),ADAMS,REGION I,1,120.901845,18.462302,...,18.462302,PH012801001,ADAMS (POB.),PH012801000,ADAMS,PH012800000,ILOCOS NORTE,PH010000000,REGION I (ILOCOS REGION),NaN
1,100163,BUCAROT PS,ILOCOS NORTE,"BUCAROT, ADAMS, ILOCOS NORTE",ADAMS (POB.),ADAMS,REGION I,1,120.903605,18.462088,...,18.462088,PH012801001,ADAMS (POB.),PH012801000,ADAMS,PH012800000,ILOCOS NORTE,PH010000000,REGION I (ILOCOS REGION),NaN

In [29]:
# choose 5 random schools per DEPED_REGION with SOURCE_COORD = "GMAP" AND GMAP_DELTA_KM < 100 KM
regions = df["DEPED_REGION"].unique()
regions

array(['REGION I', 'REGION II', 'REGION III', 'REGION IV-A',
       'REGION IV-B', 'REGION V', 'REGION VI', 'REGION VII',
       'REGION VIII', 'REGION IX', 'REGION X', 'REGION XI', 'REGION XII',
       'CARAGA', 'ARMM', 'CAR', 'NCR'], dtype=object)

In [30]:
nsamp = 1
df_out = pd.DataFrame()
for region in regions:
    df_sub = df[(df["DEPED_REGION"]==region) & ((df["SOURCE_COORD"]=="GMAP") & (df["GMAP_DELTA_KM"]<100))]
    index_samp = random.sample(df_sub.index, nsamp)
    df_out = pd.concat([df_out, df_sub.loc[index_samp]])

In [31]:
df_out.to_csv(fn_out, index=False)

In [32]:
df_out[["SCHOOL ID", "SCHOOL NAME", "DEPED_REGION", "SOURCE_COORD", "LONGITUDE", "LATITUDE", "GMAP_DELTA_KM", "DEPED_COORD", "DELTA_KM"]]

,SCHOOL ID,SCHOOL NAME,DEPED_REGION,SOURCE_COORD,LONGITUDE,LATITUDE,GMAP_DELTA_KM,DEPED_COORD,DELTA_KM
359,500591,FLORENTINO CAMAQUIN INTEGRATED SCHOOL,REGION I,GMAP,120.645492,18.227183,0.189360,0,NaN
3848,103103,CALAOCAN ELEMENTARY SCHOOL,REGION II,GMAP,121.946526,17.016409,9.376169,0,NaN
7974,112610,CALIXTO G. DUQUE ELEMENTARY SCHOOL,REGION III,GMAP,120.506532,15.662865,0.415151,0,NaN
9385,342206,SHS IN LIAN,REGION IV-A,GMAP,120.667130,14.025454,1.735338,0,NaN
14772,111455,LAMBERTO ANTARAN MS,REGION IV-B,GMAP,122.015352,12.177853,5.232084,3,4.995262
15311,600161,OAS COMMUNITY COLLEGE,REGION V,GMAP,123.515435,13.249648,0.344476,0,NaN
21028,305546,BUGA NATIONAL HIGH SCHOOL-GINES EXT.,REGION VI,GMAP,122.349012,10.767450,11.164574,0,NaN
24475,119389,KANYUKO ES,REGION VII,GMAP,123.436951,10.057497,5.033331,3,466.033209
30287,500238,TABAWAN INTEGRATED SCHOOL,REGION VIII,GMAP,124.629480,12.115723,2.845779,0,NaN
31360,402673,JOSE RIZAL MEMORIAL STATE UNIVERSITY-TAMPILISA...,REGION IX,GMAP,122.668576,7.973643,0.773350,0,NaN
34675,461007,MSU - LOPEZ JAENA COMMUNITY HIGH SCHOOL,REGION X,GMAP,123.772315,8.545352,1.987565,0,NaN
36487,316013,MABUHAY NATIONAL HIGH SCHOOL,REGION XI,GMAP,125.231206,6.764274,0.619980,0,NaN
38799,500280,CABLALAN INTEGRATED SCHOOL,REGION XII,GMAP,125.223683,5.777800,0.516168,0,NaN
40274,500048,LAWAN-LAWAN ELEM. SCHOOL,CARAGA,GMAP,125.463569,8.729895,7.248493,0,NaN
43310,133723,LIANGAN PRIMARY SCHOOL,ARMM,GMAP,124.066666,7.883333,3.653296,0,NaN
44813,318703,BAAY NATIONAL HIGH SCHOOL - EXTENSION,CAR,GMAP,120.964687,17.689361,3.741129,0,NaN
47119,320205,DON BOSCO HIGH SCHOOL PARAÃ±AQUE,NCR,GMAP,121.021143,14.479798,0.171128,0,NaN